.App {
  text-align: center;
}

.App__logo {
  height: 80px;
}

.App__header {
  height: 150px;
  padding: 20px;
}

.App__submitted-rating {
	display: flex;
	flex-direction: column;
}

.App__open-popup {
	cursor: pointer;
	color: #00c7ba;
}

.App__footer {
	font-size: 10px;
	text-align: center;
	margin-top: 100px;
	padding-left: 20px;
	font-style: italic;
}